<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <style>
        * {
            margin: 0;
        }
        h1{
            color:rgb(214, 132, 37);
            margin: auto;
        }
        .header-top, .header-bottom {
            display: flex;
            padding: 4px 20px;
        }
        .header-top {
            padding: 8px 10px;
            justify-content: end;
        }
        .header-top div {
            padding: 0px 10px;
        }
        .header-bottom {
            margin-bottom: 20px;
            padding: 8px 10px;
            justify-content: space-around;
            background-color: rgb(255, 46, 63);
            color: white
        }
        .header-bottom div {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <nav class="main-header">
        <div class="header-top">
            <div>email:abd@aac.com</div>
            <div>contact: +92 313 8185700</div>
        </div>
        <div class="header-bottom">
            <div>Home</div>
            <div>About</div>
            <div>contact us</div>
            <div>Help</div>
        </div>
    </nav>