<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- header.ejs is included in tutorials.ejs &mongDB_tut.ejs, so find style.css path relative to tutorials.ejs -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section>
        <header class="main-header">
            <div><a href="/"> Home/Node</a></div>
            <div><a href="/mongoDB"> MongoDB</a></div>
            <div><a href=""> abdf</a></div>
        </header>
    </section>